<div class="flex h-full max-w-lg flex-row lg:flex-col items-center lg:items-start justify-around lg:justify-start mx-auto lg:mx-0 lg:gap-y-4">
    <a aria-current="page" class="text-white group flex flex-col lg:flex-row items-center justify-center gap-x-3 rounded-md py-6 sm:py-2 text-sm lg:text-sm text-xs font-semibold leading-6 active" href="/ADI/dashboard">
        <div class="relative">
            <i class="pmf-icon-home text-[24px] mb-2 lg:mb-0"></i>
        </div>
        <span>Home</span>
    </a>
    <a class="text-indigo-200 hover:text-white group flex flex-col lg:flex-row items-center justify-center gap-x-3 rounded-md py-6 sm:py-2 text-sm lg:text-sm text-xs font-semibold leading-6" href="/ADI/lessons">
        <div class="relative">
            <i class="pmf-icon-calendar text-[24px] mb-2 lg:mb-0"></i>
        </div>
        <span>Calendar</span>
    </a>
    <a class="text-indigo-200 hover:text-white group flex flex-col lg:flex-row items-center justify-center gap-x-3 rounded-md py-6 sm:py-2 text-sm lg:text-sm text-xs font-semibold leading-6" href="/ADI/new-jobs">
        <div class="relative">
            <i class="pmf-icon-wheel text-[24px] mb-2 lg:mb-0"></i>
        </div>
        <span>Jobs</span>
    </a>
    <a class="text-indigo-200 hover:text-white group flex flex-col lg:flex-row items-center justify-center gap-x-3 rounded-md py-6 sm:py-2 text-sm lg:text-sm text-xs font-semibold leading-6" href="/ADI/students">
        <div class="relative">
            <i class="pmf-icon-user text-[24px] mb-2 lg:mb-0"></i>
        </div>
        <span>Learners</span>
    </a>
    <a class="text-indigo-200 hover:text-white group flex flex-col lg:flex-row items-center justify-center gap-x-3 rounded-md py-6 sm:py-2 text-sm lg:text-sm text-xs font-semibold leading-6" href="/ADI/payments">
        <div class="relative">
            <i class="pmf-icon-currency-pound text-[24px] mb-2 lg:mb-0"></i>
        </div>
        <span>Finance</span>
    </a>
    <a class="text-indigo-200 hover:text-white group flex flex-col lg:flex-row items-center justify-center gap-x-3 rounded-md py-6 sm:py-2 text-sm lg:text-sm text-xs font-semibold leading-6" href="/ADI/more">
        <div class="relative">
            <i class="pmf-icon-more-outline text-[24px] mb-2 lg:mb-0"></i>
        </div>
        <span>More</span>
    </a>
</div>
