<nav class="fixed bottom-0 w-full bg-white border-t flex justify-around p-2 shadow-md z-50">
    <button routerLink="/home"><i class="fa fa-home"></i><br>Home</button>
    <button routerLink="/calendar"><i class="fa fa-calendar"></i><br>Calendar</button>
    <button routerLink="/jobs"><i class="fa fa-briefcase"></i><br>Jobs</button>
    <button routerLink="/learners"><i class="fa fa-user"></i><br>Learners</button>
    <button routerLink="/finance"><i class="fa fa-coins"></i><br>Finance</button>
    <button routerLink="/more"><i class="fa fa-ellipsis-h"></i><br>More</button>
</nav>